.usuario {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.usuario-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.usuario-header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.usuario-info {
  display: flex;
  gap: 30px;
}

.usuario button {
  padding: 8px 16px;
  border: 1px solid gray;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.usuario-publicaciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.usuario-publicaciones img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}